<div class="card">
  <div class="card-header">
    <h3><b>Edit Hospital Details</b></h3>
  </div>
  <div class="card-block">
    <div class="animated fadeIn">
      <div class="panel-body">
        <form name="form" (ngSubmit)="f.form.valid && updateHospital()" #f="ngForm" novalidate>
          <!-- Hospitalname -->
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !hospital_name.valid }">
            <div class="row">
              <div class="col-md-3">
                <label>Hospital Name<font color="red">*</font></label>
              </div>
              <div class="col-md-9">
                <input [(ngModel)]='hospital_model.hospital_name' name="hospital_name" class="form-control" placeholder="Enter Hospital name"
                  #hospital_name="ngModel" required>
                <div *ngIf="f.submitted && !hospital_name.valid" class="help-block">Hospital Name is required</div>
                <div [hidden]="!error_hospital_name" class="help-block">
                  {{error_hospital_name}}
                </div>
              </div>

            </div>
          </div>
          <br/>

          <!-- Hospital ID -->
          <div class="row">
            <div class="col-md-3">
              <label>Hospital ID</label>
            </div>
            <div class="col-md-9">
              <input disabled [(ngModel)]='hospital_model.hospital_id' name="hospital_id" class="form-control" placeholder="Enter Hospital ID">
            </div>
          </div>
          <br/>

          <!-- Address -->
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !address.valid }">
            <div class="row">
              <div class="col-md-3">
                <label>Address<font color="red">*</font></label>
              </div>
              <div class="col-md-9">
                <input [(ngModel)]='hospital_model.address' name="address" class="form-control" placeholder=" Enter Address" #address="ngModel"
                  required>
                <div *ngIf="f.submitted && !address.valid" class="help-block">Address is required</div>
                <div [hidden]="!error_address" class="help-block">
                  {{error_address}}
                </div>
              </div>

            </div>
          </div>
          <br/>

          <!-- Telephone Number -->
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !telephone_number.valid }">
            <div class="row">
              <div class="col-md-3">
                <label>Telephone Number<font color="red">*</font></label>
              </div>
              <div class="col-md-9">
                <input [(ngModel)]='hospital_model.telephone_number' name="telephone_number" class="form-control" placeholder="Enter Telephone Number"
                  #telephone_number="ngModel" required>
                <div *ngIf="f.submitted && !telephone_number.valid" class="help-block">Telephone Number is required</div>
                <div [hidden]="!error_telephone_number" class="help-block">
                  {{error_telephone_number}}
                </div>
              </div>

            </div>
          </div>
          <br/>

          <!-- Email -->
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <div class="row">
              <div class="col-md-3">
                <label>Email<font color="red">*</font></label>
              </div>
              <div class="col-md-9">
                <input [(ngModel)]='hospital_model.email' name="email" class="form-control" placeholder="Enter Email" #email="ngModel" required>
                <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
                <div [hidden]="!error_email" class="help-block">
                  {{error_email}}
                </div>
              </div>

            </div>
          </div>
          <br/>

          <!-- Contact Person Name -->
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !contact_person_name.valid }">
            <div class="row">
              <div class="col-md-3">
                <label>Contact Person Name<font color="red">*</font></label>
              </div>
              <div class="col-md-9">
                <input [(ngModel)]='hospital_model.contact_person_name' name="contact_person_name" class="form-control" placeholder="Enter Contact Person Name"
                  #contact_person_name="ngModel" required>
                <div *ngIf="f.submitted && !contact_person_name.valid" class="help-block">Contact Person Name is required</div>
                <div [hidden]="!error_contact_person_name" class="help-block">
                  {{error_contact_person_name}}
                </div>
              </div>

            </div>
          </div>
          <br/>

          <!-- Contact Person Mobile -->
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !contact_person_mobile.valid }">
            <div class="row">
              <div class="col-md-3">
                <label>Contact Person Mobile<font color="red">*</font></label>
              </div>
              <div class="col-md-9">
                <input [(ngModel)]='hospital_model.contact_person_mobile' name="contact_person_mobile" class="form-control" placeholder="Enter Contact Person Mobile"
                  #contact_person_mobile="ngModel" required>
                <div *ngIf="f.submitted && !contact_person_mobile.valid" class="help-block">Contact Person Mobile is required</div>
                <div [hidden]="!error_contact_person_mobile" class="help-block">
                  {{error_contact_person_mobile}}
                </div>
              </div>

            </div>
          </div>
          <br/>

          <!-- Contact Person Email -->
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !contact_person_email.valid }">
            <div class="row">
              <div class="col-md-3">
                <label>Contact Person Email<font color="red">*</font></label>
              </div>
              <div class="col-md-9">
                <input [(ngModel)]='hospital_model.contact_person_email' name="contact_person_email" class="form-control" placeholder="Enter Contact Person Email"
                  #contact_person_email="ngModel" required>
                <div *ngIf="f.submitted && !contact_person_email.valid" class="help-block">Contact Person Email is required</div>
                <div [hidden]="!error_contact_person_email" class="help-block">
                  {{error_contact_person_email}}
                </div>
              </div>

            </div>
          </div>
          <br/>

          <!-- Is Active -->
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-5">
              <div class="checkbox">
                <label><input  disabled type="checkbox" name="is_active" [(ngModel)]='hospital_model.is_active'> Is Active</label>
              </div>
            </div>
          </div>
          <br/>

          <div class="row">
            <div class="col-md-8"></div>
            <div class="row">
              <div class="col-md-6">
                <button [disabled]="loading" class="btn btn-primary">UPDATE</button>
              </div>
              <div class="col-md-6">
                <button (click)="cancel()" class="btn btn-danger"> CANCEL</button>
              </div>
            </div>

          </div>
          <br/>

        </form>
      </div>
    </div>
  </div>
</div>