<div class="card">
    <div class="card-header">
        <header>
            <font size="5" color=" #2B3856">Deatails of <b>{{hospital_model.hospital_name}}</b></font>
        </header>
        <div class="card">
            <font size="3" color=" #483C32">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2"> Hospitalname </div>
                    <div class="ui-grid-col-10">: {{hospital_model.hospital_name}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">Hospital ID </div>
                    <div class="ui-grid-col-10">: {{hospital_model.hospital_id}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">Address </div>
                    <div class="ui-grid-col-10">: {{hospital_model.address}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">Telephone Number </div>
                    <div class="ui-grid-col-10">: {{hospital_model.telephone_number}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">Email </div>
                    <div class="ui-grid-col-10">: {{hospital_model.email}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">Contact Person Name </div>
                    <div class="ui-grid-col-10">: {{hospital_model.contact_person_name}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">Contact Person Mobile </div>
                    <div class="ui-grid-col-10">: {{hospital_model.contact_person_mobile}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">Contact Person Email </div>
                    <div class="ui-grid-col-10">: {{hospital_model.contact_person_email}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">Active </div>
                    <div class="ui-grid-col-10">: {{hospital_model.is_active}}</div>
                </div>
            </font>

        </div>
        <div class="ui-helper-clearfix">


            <button type="button" class="btn btn-primary btn-sm" pButton icon="fa-file-o" iconPos="left" label="CSV" pButton [routerLink]="['/hospitals/update-hospital/',hospital_model.id]"
                style="float:left">Edit</button>
        </div>

    </div>
</div>