<div class="card">
    <div class="card-header">
        <header> Hospitals </header>
         </div>
         </div>
         
        <div class="card">
                <div class="card-header">
        <button type="button" class="btn btn-primary btn-sm" pButton icon="fa-file-o" iconPos="right" label="CSV" (click)="create()"
                        style="float:right"><i class="fa fa-plus-circle"></i> Create New Hospital</button>
        </div>
        </div>

 
    

<div class="card">
   
    <div class="card-header">
 
        <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input #gb type="text" pInputText size="50" placeholder="Search">
        </div>

        <p-dataTable [value]="hospitals" [rows]="10" [paginator]="true" [pageLinks]="3" [responsive]="true" [stacked]="stacked" exportFilename="hospitals"
            [globalFilter]="gb" #dt>
            <p-header>
                <div class="ui-helper-clearfix">
                    <button type="button" class="btn btn-primary btn-sm" pButton icon="fa-file-o" iconPos="right" label="CSV" (click)="dt.exportCSV()"
                        style="float:right"><i class="fa fa-download"></i> Export to CSV</button>
                   
                </div>
            </p-header>




            <p-column field="hospital_name" header="Hospital name" [sortable]="true"></p-column>
            <p-column field="hospital_id" header="Hospital ID" [sortable]="true"></p-column>
            <p-column field="address" header="Address" [sortable]="true"></p-column>
            <p-column field="telephone_number" header="Telephone Number" [sortable]="true"></p-column>
            <p-column field="email" header="email" [sortable]="true"></p-column>
            <p-column field="contact_person_name" header="Contact Person Name" [sortable]="true"></p-column>
            <p-column field="contact_person_mobile" header="Contact Person Mobile" [sortable]="true"></p-column>
            <p-column field="contact_person_email" header="Contact Person Email" [sortable]="true"></p-column>
            <p-column field="is_active" header="Active">
                <ng-template #dataTableHeader let-hospital="hospital">
                    <span style="color: rgb(232, 0, 0)">Active</span>
                </ng-template>
                <ng-template #dataTableCell let-user="user">
                    <span style="color: grey">
                <span class="glyphicon glyphicon-ok" *ngIf="hospital.is_active"></span>
                    <span class="glyphicon glyphicon-remove" *ngIf="!hospital.is_active"></span>
                    </span>
                </ng-template>

            </p-column>
            <p-column header="Actions">

                <ng-template let-hospital="rowData" pTemplate="body">

                    <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-sm" pButton [routerLink]="['/hospitals/view-hospital/',hospital.id]"><i class="fa fa-eye"></i></button><br/>
                    <button type="button" class="btn btn-primary btn-sm" pButton [routerLink]="['/hospitals/update-hospital/',hospital.id]"><i class="fa fa-edit"></i></button>
                    <button type="button" style="float:initial" class="btn btn-primary btn-sm" pButton [routerLink]="['/users/view-all-user/',hospital.hospital_id]"><i class="fa fa-user"></i></button>
    </div>

                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
</div>