<div class="card">
  <div class="card-header">
    <h3><b>User Registration</b></h3>
  </div>
  <div class="card-block">
    <div class="animated fadeIn">
      <div class="panel-body">
        <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
          <!-- Username -->
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !user_name.valid }">
            <div class="row">
              <div class="col-md-3">
                <label>User Name<font color="red">*</font></label>
              </div>
              <div class="col-md-9">
                <input [(ngModel)]='user_model.user_name' name="user_name" class="form-control" placeholder="Enter Username" #user_name="ngModel"
                  required>
                <div *ngIf="f.submitted && !user_name.valid" class="help-block">Username is required</div>
              <div [hidden]="!error_user_name" class="help-block">
                {{error_user_name}}
              </div>
              </div>
              
            </div>
          </div>
          <br/>

          <!-- Hospital ID -->
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !hospital_id.valid }">
            <div class="row">
              <div class="col-md-3">
                <label>Hospital ID<font color="red">*</font></label>
              </div>
              <div class="col-md-9">
                <input [(ngModel)]='user_model.hospital_id' name="hospital_id" class="form-control" placeholder="Enter Hospital ID" #hospital_id="ngModel"
                  required>
                <div *ngIf="f.submitted && !hospital_id.valid" class="help-block">Hospital ID is required</div>
                <div [hidden]="!error_hospital_id" class="help-block">
                  {{error_hospital_id}}
                </div>
              </div>

            </div>
          </div>
          <br/>

          <!-- Password -->
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <div class="row">
              <div class="col-md-3">
                <label>Password<font color="red">*</font></label>
              </div>
              <div class="col-md-9">
                <input type="password" [(ngModel)]='user_model.password' name="password" class="form-control" placeholder=" Enter Password"
                  required validateEqual="confirm_password" reverse="true" #password="ngModel">
                <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                <div [hidden]="!error_password" class="help-block">
                  {{error_password}}
                </div>
              </div>

            </div>
          </div>
          <br/>

          <!-- Confirm Password -->
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !confirm_password.valid }">
            <div class="row">
              <div class="col-md-3">
                <label>Confirm Password</label>
              </div>
              <div class="col-md-9">
                <input type="password" [(ngModel)]='user_model.confirm_password' name="confirm_password" class="form-control" placeholder="Enter Confirm Password"
                  required validateEqual="password" reverse="false" #confirm_password="ngModel">
                <div *ngIf="this.user_model.password != this.user_model.confirm_password" class="help-block"> Password mismatch </div>
              </div>
            </div>
          </div>
          <br/>

          <!-- First Name -->
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !first_name.valid }">
            <div class="row">
              <div class="col-md-3">
                <label>First Name<font color="red">*</font></label>
              </div>
              <div class="col-md-9">
                <input [(ngModel)]='user_model.first_name' name="first_name" class="form-control" placeholder="Enter Firstname" #first_name="ngModel"
                  required>
                <div *ngIf="f.submitted && !first_name.valid" class="help-block">Firstname is required</div>
                <div [hidden]="!error_first_name" class="help-block">
                  {{error_first_name}}
                </div>
              </div>

            </div>
          </div>
          <br/>

          <!-- Last Name -->
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !last_name.valid }">
            <div class="row">
              <div class="col-md-3">
                <label>Last Name<font color="red">*</font></label>
              </div>
              <div class="col-md-9">
                <input [(ngModel)]='user_model.last_name' name="last_name" class="form-control" placeholder="Enter Lastname" #last_name="ngModel"
                  required>
                <div *ngIf="f.submitted && !last_name.valid" class="help-block">Lastname is required</div>
                <div [hidden]="!error_last_name" class="help-block">
                  {{error_last_name}}
                </div>
              </div>

            </div>
          </div>
          <br/>

          <!-- Role -->
          <div class="row">
            <div class="col-md-3">
              <label>Role</label>
            </div>
            <div class="col-md-9">


              <div class="form_group" *ngFor="let role of role_models">
                <div *ngIf="role.id != 1">
                <input type="checkbox"  (change)="test(role)"> {{ role.role_name }}
              </div></div>


            </div>
          </div>
          <br/>

          <!-- Is Active -->

          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-5">
              <div class="checkbox">
                <label><input  type="checkbox" name="is_active" [(ngModel)]='user_model.is_active'> Is Active</label>
              </div>
            </div>
          </div>
          <br/>



          <div class="row">
            <div class="col-md-8"></div>
            <div class="row">
              <div class="col-md-6">
                <button [disabled]="loading" class="btn btn-primary">SAVE</button>
              </div>
              <div class="col-md-6">
                <button (click)="cancel()" class="btn btn-danger"> CANCEL</button>
              </div>
            </div>

          </div>
          <br/>

        </form>
      </div>
    </div>
  </div>
</div>