<div class="card">
  <div class="card-header">
    <h3><b>Edit User Details</b></h3>
  </div>
  <div class="card-block">
    <div class="animated fadeIn">
      <div class="panel-body">
        <form name="form" (ngSubmit)="f.form.valid && updateUser()" #f="ngForm" novalidate>
          <!-- Username -->
          <div class="row">
            <div class="col-md-3">
              <label>User Name</label>
            </div>
            <div class="col-md-9">
              <input disabled [(ngModel)]='user_model.user_name' name="user_name" class="form-control" placeholder="Enter Username">
            </div>
          </div>
          <br/>

          <!-- Hospital ID -->
          <div class="row">
            <div class="col-md-3">
              <label>Hospital ID</label>
            </div>
            <div class="col-md-9">
              <input disabled [(ngModel)]='user_model.hospital_id' name="hospital_id" class="form-control" placeholder="Enter Hospital ID">
            </div>
          </div>
          <br/>


          <!-- First Name -->
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !first_name.valid }">
            <div class="row">
              <div class="col-md-3">
                <label>First Name<font color="red">*</font></label>
              </div>
              <div class="col-md-9">
                <input [(ngModel)]='user_model.first_name' name="first_name" class="form-control" placeholder="Enter Firstname" #first_name="ngModel"
                  required>
                <div *ngIf="f.submitted && !first_name.valid" class="help-block">Firstname is required</div>
                <div [hidden]="!error_first_name" class="help-block">
                  {{error_first_name}}
                </div>
              </div>

            </div>
          </div>
          <br/>

          <!-- Last Name -->
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !last_name.valid }">
            <div class="row">
              <div class="col-md-3">
                <label>Last Name<font color="red">*</font></label>
              </div>
              <div class="col-md-9">
                <input [(ngModel)]='user_model.last_name' name="last_name" class="form-control" placeholder="Enter Lastname" #last_name="ngModel"
                  required>
                <div *ngIf="f.submitted && !last_name.valid" class="help-block">Lastname is required</div>
                <div [hidden]="!error_last_name" class="help-block">
                  {{error_last_name}}
                </div>
              </div>

            </div>
          </div>
          <br/>



          <!-- Is Active -->

          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-5">
              <div class="checkbox">
                <label><input disabled type="checkbox" name="is_active" [(ngModel)]='user_model.is_active'> Is Active</label>
              </div>
            </div>
          </div>
          <br/>



          <div class="row">
            <div class="col-md-8"></div>
            <div class="row">
              <div class="col-md-6">
                <button [disabled]="loading" class="btn btn-primary">UPDATE</button>
              </div>
              <div class="col-md-6">
                <button (click)="cancel()" class="btn btn-danger"> CANCEL</button>
              </div>
            </div>

          </div>
          <br/>

        </form>
      </div>
    </div>
  </div>
</div>

<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="close" (click)="updateUser.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>