<div class="card">
    <div class="card-header" >

        <header> Users of {{hospital}}</header>

    </div>
</div>
<div class="card">
    <div class="card-header">

<button type="button" class="btn btn-primary btn-sm" pButton icon="fa-file-o" iconPos="Right" label="CSV" (click)="onClick()"
        style="float:Right"><i class="fa fa-user"></i> Create New User</button>
    </div>
</div>


<div class="card">
    <div class="card-header">
        <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input #gb type="text" pInputText size="50" placeholder="Search">
        </div>
        <p-growl [value]="msgsGrowl" sticky="sticky"></p-growl>
        <p-dataTable [value]="users" [rows]="10" [paginator]="true" [pageLinks]="3" [responsive]="true" [stacked]="stacked" exportFilename="users"
            [globalFilter]="gb" #dt>
            <p-header>
                <div class="ui-helper-clearfix">
                    <button type="button" class="btn btn-primary btn-sm" pButton icon="fa-file-o" iconPos="right" label="CSV" (click)="dt.exportCSV()"
                        style="float:right"><i class="fa fa-download"></i> Export to CSV</button>

                </div>
            </p-header>

            <p-column field="user_name" header="Username" [sortable]="true"></p-column>
            <p-column field="hospital_id" header="Hospital ID" [sortable]="true"></p-column>
            <p-column field="first_name" header="Firstname" [sortable]="true"></p-column>
            <p-column field="last_name" header="Lastname" [sortable]="true"></p-column>



            <p-column field="is_active" header="Active">
                <ng-template #dataTableHeader let-user="user">
                    <span style="color: rgb(232, 0, 0)">Active</span>
                </ng-template>
                <ng-template #dataTableCell let-user="user">
                    <span style="color: grey">
                <span class= "glyphicon glyphicon-ok" *ngIf="user.is_active"></span>
                    <span class="glyphicon glyphicon-remove" *ngIf="!user.is_active"></span>
                    </span>
                </ng-template>

            </p-column>
            <p-column header="Actions">
                <ng-template let-user="rowData" pTemplate="body">
                    <button type="button" class="btn btn-primary btn-sm" pButton [routerLink]="['/users/view-user/',user.id]"><i class="fa fa-eye"></i></button>
                    <button type="button" class="btn btn-primary btn-sm" pButton [routerLink]="['/users/update-user/',user.id]"><i class="fa fa-edit"></i></button>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
</div>