<div class="card">
    <div class="card-header">
        <header>
            <font size="5" color=" #2B3856"> Details of <b>{{user_model.user_name}}</b></font>
        </header>
        <div class="card">
            <font size="3" color=" #483C32">

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2"> Username </div>
                    <div class="ui-grid-col-10">: {{user_model.user_name}}</div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2"> Hospital ID </div>
                    <div class="ui-grid-col-10">: {{user_model.hospital_id}}</div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2"> Firstname </div>
                    <div class="ui-grid-col-10">: {{user_model.first_name}}</div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2"> Lastname </div>
                    <div class="ui-grid-col-10">: {{user_model.last_name}}</div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2"> Roles </div>
                    <div class="ui-grid-col-10" *ngFor="let item of roles">: {{item.role_name}}</div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2"> Active </div>
                    <div class="ui-grid-col-10">: {{user_model.is_active}}</div>
                </div>
            </font>

        </div>
        <div class="ui-helper-clearfix">
            <button type="button" class="btn btn-primary btn-sm" pButton icon="fa-file-o" iconPos="left" label="CSV" pButton [routerLink]="['/users/update-user/',user_model.id]"
                style="float:left">Edit</button>
        </div>

    </div>
</div>