

<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">
          <div class="card p-4">
            <div class="card-block">
              <h1>Login</h1>
              <p class="text-muted">Sign In to your account</p>
              <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm"  novalidate>
                <!-- Hospital ID -->
                <div class="form-group"  >
                  <div class="input-group mb-3">
                    
                    <select *ngIf="is_super_admin == false" class="form-control"   name="hospital_id" [(ngModel)]='user_model.hospital_id'>
                 <option>  Select Your Hospital ID </option>
                    <option *ngFor="let hospital of hospital_details" >
                  {{ hospital.hospital_id}}  
                    </option>
                 </select>

                    </div>
                  </div>

            

                <!-- Username -->
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !user_name.valid }">
                  <div class="input-group mb-4">
                    <span class="input-group-addon"><i class="icon-user"></i></span>
                    <input [(ngModel)]='user_model.user_name' name="user_name" class="form-control" placeholder="Enter Username" #user_name="ngModel"
                      required>
                    <div *ngIf="f.submitted && !user_name.valid" class="help-block">Username is required</div>
                  </div>
                </div>
               


                <!-- Password -->
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                  <div class="input-group mb-4">
                    <span class="input-group-addon"><i class="icon-lock"></i></span>
                    <input type="password" [(ngModel)]='user_model.password' name="password" class="form-control" placeholder=" Enter Password"
                      #password="ngModel" required>
                    <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                  </div>
                </div>




                <div class="row">
                  <div class="col-md-6">
                    <button [disabled]="loading" class="btn btn-primary">LOGIN</button>
                  </div>

                </div>




              </form>
            </div>
          </div>
          <div class="card card-inverse card-primary py-5 d-md-down-none" style="width:44%">
            <div class="card-block text-center">
              <div>

                <button type="button" (click)="isSuperadmin(false)" class="btn btn-danger btn-sm active mt-3">Login As Hospital Admin</button>
                <button type="button" (click)="isSuperadmin(true)" class="btn btn-primary btn-sm active mt-3">Login As Super Admin</button>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>