<header class="app-header navbar">
    <alert></alert>
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">&#9776;</button>
    <a class="navbar-brand" href="#"></a>
    <ul class="nav navbar-nav mr-auto d-md-down-none">
        <li class="nav-item">
            <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
            <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
                <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                <span class="d-md-down-none">{{username}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">



                <div class="dropdown-header text-center"><strong>Settings</strong></div>

                <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>

                <a class="dropdown-item" href="#" [routerLink]="['/pages/login']"><i class="fa fa-lock"></i> Logout</a>
            </div>
        </li>
    </ul>
</header>

<div class="app-body">

    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard2']"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></a>
                </li>
                <!--<li class="nav-item nav-dropdown" routerLinkActive="open">-->
                    <!--<a class="nav-link" routerLinkActive="active" [routerLink]="['/hospitals/view-all-hospital']" ><i class="fa fa-hospital-o"></i> Hospitals</a>-->
                    <!--<ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/users/create-user']">Create User</a>
                        </li>-->
                    <!--<li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/users/update-user',user_model.id]"><i class="icon-puzzle"></i> Update User</a>
                    </li>-->
                    <!--<li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/users/view-all-user']"> View All User</a>
                    </li>-->
                    <!--<li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/users/view-user']"><i class="icon-puzzle"></i> View  User</a>
                    </li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="nav-item nav-dropdown" routerLinkActive="open">
                    <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-hospital-o"></i>  Hospitals</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/hospitals/create-hospital']"> Create Hospital</a>
                        </li>-->
                <!--<li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/hospitals/update-hospital']"><i class="icon-puzzle"></i> Update Hospital</a>
                </li>-->
                <!--<li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/hospitals/view-all-hospital']"> View All Hospital</a>
                </li>
            </ul>
        </li>-->

            </ul>

        </nav>
    </div>


    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">


            <breadcrumbs></breadcrumbs>
        </ol>

        <div class="container-fluid">

            <router-outlet></router-outlet>
        </div>

        <!-- /.conainer-fluid -->
    </main>
</div>

<footer class="app-footer">
    <a href="http://techorin.lk">Techorin</a> &copy; 2017
    <span class="float-right">Powered by <a href="http://techorin.lk">Techorin</a>
    </span>
</footer>